.a-multi-select {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    .options-list {
        display: block;
        position: absolute;
        background: white;
        width: 100%;
        border: 1px solid var(--bs-gray-400);
        border-radius: var(--border-radius);
        margin-top: 2px;
        font-size: .9rem;
        font-weight: normal;
        input[type="checkbox"] {
            margin-right: .5rem;
        }
        .input-group {
            flex-wrap: nowrap;
        }
    }
    .option {
        padding: .25rem 0;
    }
    .selected-options {
        min-height: 1rem;
        max-height: 1rem;
        padding: 0;
        line-height: 1rem;
        .option {padding: 0;}
        .more-than-one-counter {margin-left: .5rem;}
        .wrapper {justify-content: space-between;}
    }
}