.a-table-paginator {
    .form-select {
        max-width: max-content;
    }
    .wrapper {
        justify-content: flex-start;
        &.select-wrapper {
            flex-basis: 20%;
            .label {margin-right: .5rem;}
        }
        &.controls-wrapper {
            flex-basis: 80%;
            justify-content: flex-end;
            .control {
                color: inherit;
                font-weight: 600;
                min-width: 0;
                padding: .25rem .375rem;
                margin: 0 .25rem;
                border: 1px solid transparent;
                border-radius: var(--border-radius);
                background-color: transparent;
                &:hover,
                &.page-control.active {
                    background-color: white;
                    box-shadow: var(--blue-outline);
                    color: var(--blue);
                }
            }
        }
    }
}